/* etiqueta{propiedad:valor;} */
/* llamar a la etiqueta directo*/
body{background-color: aqua;}
*{color: goldenrod;}
*{border: 1px solid red;}

/* puedo llamar a una clase */
.titular{
    background-color: cadetblue;color: salmon;
    font-size: 50px;}

/* llamar a un ID */
#titular3{color: chocolate;}

/********************/
.rojo{color: red;}
.borde{border: 1px solid yellow;}

#relativa{position:relative;left: 100px;top: 100px;}

#whatsapp{position: fixed;bottom: 10px;right: 10px;}


/*#whatsapp{position: fixed;right: 50VW;}Va estar en el medio  de la pantalla*/

#padding-interno{padding: 50px;}
