


*{color: goldenrod;}
/* se que todo lo que escriba va tener ese mismo color por el "*", sino lo modifico*/

#padding-interno{padding: 50px;}
/* Lo alejado que quiero estar del borde*/

#whatsapp{position: fixed;bottom: 10px;right: 10px;}
/*Lo que permite es poner un bloque en la parte derecha de la pantalla*/
/*#whatsapp{position: fixed;right: 50VW;}Va estar en el medio  de la pantalla*/
/* VOY A VER SI COLOCO EL WHATSAPP NO ME SIRVE YA*/


#titular3{color: aqua;}
/*otro tipo de resaltado de titular*/

#relativa{position:relative;left: 100px;top: 100px;}
/* me sale fuera de la pantalla una kaka*/



li{display: inline;margin-left: 100px;}
/*Este me permite poner uno alado de otro*/

span{border: 1px solid gold;display: block;}
/*si no pongo display block me va mantener en la linea con este me lo tira para abajo*/

#imagen-responsive{width: 15vw;}
/* es para ajustar la imagen en cualquier dispositivo*/

*{font-family:"Courier New","Sans-Serif";font-style: "italic"; background-color: black;} 
/*para la fuente de la letra*/

.container {  display: flex;justify-content: center;}
/*para centrar las imagenes*/

.centradoUltimo{pantalla:flex;justify-content:center;}

(max-width: 400px){body{background-color: blueviolet;}}


.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
/*whatapp*/


.contenedor{width: 100%;max-width: ;;margin: 0 auto;overflow:hidden ;}
    